<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${error}">
    Unable to login.Check your username and password.
</div>

<p>New here? Click <a th:href="@{/register}">here</a> to register.</p>

<form id="loginForm" method="post" th:action="@{/login}">
    <label for="username">
        Username: <input id="username" name="username" type="text"/>
    </label><br/>

    <label for="password">
        Password: <input id="password" name="password" type="text"/>
    </label><br/>

    <input type="submit" value="Login"/>
</form>
</body>
</html>